/* https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/ */
.lobotomised-owl * + * {
  margin-top: 1.5em;
}
.margins-off > * {
	margin-top: 0;
}
.no-marker {
  list-style: none;
  padding-left: 0;
}

a[href^="#"] {
  text-decoration: none;
}