<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {# I use the metas key here so that this is consistent with social media sharing #}
  <title>{{ metas.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  {{ content | safe }}
</body>
</html>