---
title: Index of weeknotes
---
<ol class="no-marker">
{% for page in search.pages('weeknote', 'week_ending=desc') %}
  <li><a href='{{ page.url }}'>{{ page.week_ending | date('DATE') }}: {{ page.title or page.week_ending | date('HUMAN_DATE') }}</a></li>
{% endfor %}
</ol>