---
url: /rss.xml
layout: template/rss.njk
id: https://weeknotes.open-innovations.org/
---
{% for entry in search.pages('weeknote', 'date=asc') -%}
  <item>
    <title>
      {{ entry.title or entry.date | date('HUMAN_DATE') }}
    </title>
    <link>{{ entry.url | url(true) }}</link>
	<guid isPermaLink="true">{{ entry.url | url(true) }}</guid>
    <description><![CDATA[
      {{ entry.content | md | safe}}
    ]]></description>
    <pubDate>{{ entry.week_ending | date('iii, dd MMM yyyy HH:mm:ss XXXXX') }}</pubDate>
  </item>
{%- endfor %}