---
css: |
  .anchor svg {
    height: auto;
    width: 1em;
    vertical-align: baseline;
    display: inline;
  }
js: |
  /*
  addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('a[id]').forEach((target) => {
      target.addEventListener('click', function () {
        const url = new URL(location);
        url.hash = this.id;
        console.log(url.toString());
      });
    });
  });
  */
---

<a class="anchor" id="{{ ref }}" href="#{{ ref }}">{% include "images/link.svg" %}</a>